div{
    margin-top:7px;
    margin-bottom:7px;
}
body > div{
    max-width:800px;
    min-height:400px;
    position:fixed;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
[required]{
    border-color:red;
}
fieldset{
    background-color: grey;
    padding:1rem;
}
form fieldset:not(:nth-child(2)){
    border-bottom-color: black;
    border-bottom-width:5px;
}

fieldset:hover{
    background-color: rgb(59, 59, 59);
}
[type=submit]{
    background-color: black;
    color:white;
    border:none;
}
