/*------------------PRIMERA LISTA------------------*/

/*1. Haz que el último li tenga fondo azul. Especifica ese fondo azul usando valores RGB*/
.lista li:last-child{
    background-color: rgb(45, 40, 172) ;
}
/*2. Haz que los li impares tengan el texto subrayado. Haz que el subrayado sea de color verde.*/
.lista li:nth-child(odd){
    text-decoration: underline green;
}
/*3. Haz que todos los elementos de la lista aparezcan en una sola línea en lugar de unos debajo de otros y que tengan una separación de 10 píxeles entre unos y otros.*/
.lista{
    list-style-type:none;
}
/*4. Haz que al final de cada li aparezca un emoji diferente sin modificar el html.*/
.lista li{
    display:inline;
    margin-left:10px;
}
/*5. Haz que el li que tiene texto en inglés tenga el tipo de letra del doble de tamaño que los otros y en mayúsculas.*/
.lista li:after{
    content: " 😁";
}
/*------------------SEGUNDA LISTA------------------*/

/*1. En lugar de tener puntos a la izquierda de los elementos tenga números romanos.*/
[lang="en"]{
    font-size:2em;
    text-transform: uppercase;
}
/*2. Excepto "A Coruña" que no debe tener número romano a la izquierda.*/
#provincias li:not(:nth-child(2)){
    list-style-type: upper-roman;
}