/* 1. Haz que el último li tenga fondo azul. Especifica ese fondo azul usando valores RGB
2. Haz que los li impares tengan el texto subrayado. Haz que el subrayado sea de color verde.
3. Haz que todos los elementos de la lista aparezcan en una sola línea en lugar de unos debajo de otros y que tengan una separación de 10 píxeles entre unos y otros.
4. Haz que al final de cada li aparezca un emoji diferente sin modificar el html.
5. Haz que el li que tiene texto en inglés tenga el tipo de letra del doble de tamaño que los otros y en mayúsculas.

Añade las reglas necesarias también para que la segunda lista:

1. En lugar de tener puntos a la izquierda de los elementos tenga números romanos.
2. Excepto "A Coruña" que no debe tener número romano a la izquierda. */
.lista li:last-child{
    background-color: rgb(45, 40, 172) ;
}
.lista li:nth-child(odd){
    text-decoration: underline green;
}
.lista{
    list-style-type:none;
}
.lista li{
    display:inline;
    margin-left:10px;
}
.lista li:after{
    content: " 😁";
}
[lang="en"]{
    font-size:2em;
    text-transform: uppercase;
}
#provincias li:not(:nth-child(2)){
    list-style-type: upper-roman;
}