.lista li:last-child{
    background-color: rgb(45, 40, 172) ;
}
.lista li:nth-child(odd){
    text-decoration: underline green;
}
.lista{
    list-style-type:none;
}
.lista li{
    display:inline;
    margin-left:10px;
}
.lista li:after{
    content: " 😁";
}
[lang="en"]{
    font-size:2em;
    text-transform: uppercase;
}
#provincias li:not(:nth-child(2)){
    list-style-type: upper-roman;
}
